.image {
  height: 400px;

  >img {
    height: 100% !important;
    object-fit: cover;
  }
}

.emptyImage {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: #0000000f;

  >svg {
    width: 50%;
    color: #bfbfbf;
  }
}