.image {
  height: 400px;

  >img {
    height: 100% !important;
    object-fit: cover;
  }
}

.rootSkeleton {
  width: 100% !important;
}

.skeleton {
  width: 100% !important;
  height: 400px !important;
}