.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.steps {
  width: 80vw;
  max-width: 600px;
  margin-bottom: 20px;
}

.box {
  width: 80vw;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.loading {
  height: 296px;
  display: flex;
  justify-content: center;
  align-items: center;
}
